#app-mount .chat-3bRxxu form .typing-2GQL18 {
  background-color: var(--back-color-boxes);
  bottom: 100%;
  padding-left: 10px;
  width: fit-content;
  padding-right: 20px;
  padding-top: 0px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--typing-border);
}
.typing-2GQL18 .cooldownWrapper-3joyFc {
  margin: 0;
}
